<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>

    <body>
        <%- include('./partials/menuParams')%>

            <main>
                <%- include('./partials/genders')%>
                    <%- include('./partials/bannerParams')%>
                        <section class="seccion">

                            <br><br><br><br><br><br>
                            <h2 class="titulo-seccion">
                               <strong>  Error 500-</strong>Ha ocurrido un error interno.
                            </h2>
                            <br><br><br><br><br><br>

                        </section>

            </main>
            <%- include('./partials/footer')%>
    </body>

</html>