<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menu')%>
    <main>
        <%- include('./partials/genders')%>
        <div>
            <section class="banner">
                <img src="images/banner.jpg" alt="Banner de E-Books">
            </section>
        </div>
        <div class="informacion-relacionada">
            <section  class="informacion-lista">
                <ul>
                    <li><a href="">Generos  </a></li>
                    <li><a href="">Ficcion </a></li>
                    <li><a href="">Terror </a></li>
                    <li><a href="">Novelas </a></li>
                    <li><a href="">Comics </a></li>
                </ul>
            </section>
            <section class="informacion-encuentra">
                <h4>ENCUENTRA TU LUGAR IDEAL EN LA LIBRERÍA EN LÍNEA E-BOOKS
                </h4>
                <p>
                    ¡Más de 100 libros listos para enviar, 200 libros electrónicos y 80 audiolibros para escuchar de inmediato! Apoya esta pagina de jovenes emprendedores, cada miga de pan cuenta y ayuda a agrandar este sueño, para ser hecho realidad.
                </p>
                <p>
                    “La educación es el arma más poderosa que puedes usar para cambiar el mundo”
                    -NELSON MANDELA
                </p>
            </section>
            <section class="informacion-visual">
                    <img src="/images/mensaje.png" alt="">
            </section>
        </div>
        <section class="seccion">
            <h4 class="titulo-seccion">Novedades</h4>
            <div  class="novedades">
                <% for (let i = 0; i < products.length; i++) { %>
                    <%if(products[i].category=="Novedades"){%>
                        <article>
                            <img src="images/products/<%=products[i].image%>" alt="<%=products[i].image%>" class="img_producto">                            <div>
                                <h5 class="descripcion"><a href="/productDetail/<%=products[i].id%>" class="detalles"><%=products[i].name%></a></h5>
                            </div>
                        </article>
                        <br>
                        <br>
                    <%}%>
                <% } %>
            </div>
        </section>
        <section class="seccion">
            <h4 class="titulo-seccion">Mas vendidos</h4>
            <div  class="novedades">
                <% for (let i = 0; i < products.length; i++) { %>
                    <%if(products[i].category=="Mas vendidos"){%>
                        <article>
                            <img src="images/products/<%=products[i].image%>" alt="<%=products[i].image%>" class="img_producto">
                            <div>
                                <h5 class="descripcion"><a href="/productDetail/<%=products[i].id%>" class="detalles"><%=products[i].name%></a></h5>
                            </div>
                        </article>
                        <br>
                        <br>
                    <%}%>
                <% } %>
            </div>
        </section>
        <section class="seccion">
            <h4 class="titulo-seccion">Recomendados</h4>
            <div  class="novedades">
                <% for (let i = 0; i < products.length; i++) { %>
                    <%if(products[i].category=="Recomendados"){%>
                        <article>
                            <img src="images/products/<%=products[i].image%>" alt="<%=products[i].image%>" class="img_producto">
                            <div>
                                <h5 class="descripcion"><a href="/productDetail/<%=products[i].id%>" class="detalles"><%=products[i].name%></a></h5>
                            </div>
                        </article>
                        <br>
                        <br>
                    <%}%>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>
</html>