<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
        <%- include('./partials/menu')%>
            <main>
                <%- include('./partials/genders')%>
                <center>
            <div class="alert alert-danger" hidden id="errorsDiv"></div>

            <form action="https://formsubmit.co/alexandercordoba2003@hotmail.com" class="form" method="post" enctype="multipart/form-data" id="UserForm" >
                 <h1>Realizando compra</h1>
                 <input type="hidden" name="_subject" value="Nuevo pedido de compra!">
                 <label for="Nombre"><p>Introduce tu nombre completo</p></label>
                 <input type="text" name="Nombre" id="Nombre" data-label="Nombre" placeholder="Introduce tu nombre" value="<%=usuario.nombre%> <%=usuario.apellido%>" required>
                 <br>
                 <label for="Correo"><p>Introduce tu correo</p></label>
                 <input type="email" name="Correo" id="Correo" data-label="Correo" placeholder="Introduce tu correo" value="<%=usuario.Email%>"required>
                 <br>
                 <label for="Direccion"><p>Introduce tu direccion</p></label>
                 <textarea name="Direccion" id="Direccion" cols="20" rows="10" data-label="Descripcion" placeholder="Introduce tu direccion" style="resize: none;" required minlength="5"></textarea>
                <br>
                <div id="carrito"></div>
                <br>
                 <br>
                 <input type="submit" value="Realizar compra" id="comprar">
						<input type="hidden" name="_next" value="https://e-books.onrender.com/">
						<input type="hidden" name="_captcha" value="false">
                 <br>   

                </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>
<script src="/js/pago.js"></script>
<script src="/js/formValidator.js"></script>
<script src="sweetalert2.all.min.js"></script>
</html>
