<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
    <body>
        <%- include('./partials/menu')%>
            <main>
                <%- include('./partials/genders')%>
                <center>
            <div class="alert alert-danger" hidden id="errorsDiv"></div>

            <form action="/products" class="form" method="post" enctype="multipart/form-data" id="UserForm" >
                 <h1>Registra tu libro</h1>
                 <label for="name"><p>Introduce el nombre</p></label>
                 <input type="text" name="name" id="name" data-label="Nombre" placeholder="Introduce el nombre" value="<%= locals.old && old.name ? old.name : '' %>">
                 <br>
                 <label for="description"><p>Introduce la descripcion</p></label>
                 <textarea name="description" id="description" cols="30" rows="10" data-label="Descripcion" value="<%= locals.old && old.description ? old.description : '' %>" placeholder="Escribe aqui tu Descripcion(Sinopsis)."></textarea>
                   <!-- <input type="description" id="description" data-label="Descripcion" name="description" value=""> -->
                <br>
                <label for="image"><p>Introduce la portada</p></label>
                <input type="file" id="image" data-label="Imagen" name="image">
                <br>                
                <label for="gender"><p>introduce el genero</p></label>
                <select id="gender" data-label="Genero" name="gender">

                    <%if(genre){%>
                        <% for (let i = 0; i < genre.length; i++) { %>
                                <option name="<%=genre[i].name%>" value=<%=genre[i].id%>><%=genre[i].name%></option>           
                        <% } %>
                         <%}%>
                    
                </select>
                 <br>
                 <label for="categoria">Introduce la categoria</label>
                 <br>
                 <select id="category" data-label="Categoria" name="category">
                    <%if(category){%>
                    <% for (let i = 0; i < category.length; i++) { %>
                        

                            <option name="<%=category[i].name%>" id="<%=category[i].name%>" value=<%=category[i].id%>><%=category[i].name%></option>
                       
                    <% } %>
                     <%}%>
                 </select>
                <br>
                <br>
                <label for="price"><p>Introduce el precio</p></label>
                <input type="text" id="price" name="price" data-label="Precio" value="<%= locals.old && old.price ? old.price : '' %>">
                
                
                 <br> 
                 <%if(locals.errors) {
                    errors.forEach(errors => {%>
                  <p class="arriba"><%=errors.msg%></p>
                  <% })
                    }
                  %>

                             
                  
                 <br>
                 <input type="submit" value="Continuar">
                 <br>   

                </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>

<script src="/js/formValidator.js"></script>
</html>
