<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menu')%>

<center>
        <main>
            <form action="/products" class="form" method="post" enctype="multipart/form-data" >
                 <h1>Registra tu libro</h1>
                 <label for="name"><p>Introduce el nombre</p></label>
                 <input type="text" name="name" id="name" placeholder="Introduce el nombre" value="<%= locals.old && old.name ? old.name : '' %>">
                 <br>
                 <label for="description"><p>Introduce la descripcion</p></label>
                 <input type="description" id="description" name="description" value="<%= locals.old && old.description ? old.description : '' %>">
                <br>
                <label for="image"><p>Introduce la portada</p></label>
                <input type="file" id="image" name="image">
                <br>                
                <label for="gender"><p>introduce el genero</p></label>
                <select id="gender" name="gender">

                    <%if(genre){%>
                        <% for (let i = 0; i < genre.length; i++) { %>
                                <option name="<%=genre[i].name%>" value=<%=genre[i].id%>><%=genre[i].name%></option>           
                        <% } %>
                         <%}%>
                    
                </select>
                 <br>
                 <label for="categoria">Introduce la categoria</label>
                 <br>
                 <select id="category" name="category">
                    <%if(category){%>
                    <% for (let i = 0; i < category.length; i++) { %>
                        

                            <option name="<%=category[i].name%>" id="<%=category[i].name%>" value=<%=category[i].id%>><%=category[i].name%></option>
                       
                    <% } %>
                     <%}%>
                 </select>
                <br>
                <!-- <label for="format">Introduce el formato</label>
                 <br>
                 <select id="format" name="format">
                    <option name="TapaDura" id="TapaDura" value=2 >Tapa Dura</option>
                    <option name="TapaBlanda" id="TapaBlanda" value=3 >Tapa Blanda</option>
                    <option name="Digital" id="Digital" value=1 >Digital</option>
                 </select> -->
                <br>
                <label for="price"><p>Introduce el precio</p></label>
                <input type="text" id="price" name="price" value="<%= locals.old && old.price ? old.price : '' %>">
                
                
                 <br> 
                 <%if(locals.errors) {
                    errors.forEach(errors => {%>
                  <p class="arriba"><%=errors.msg%></p>
                  <% })
                    }
                  %>  
                  
                 <br>
                 <input type="submit" value="Continuar">
                 <br>   

                </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>
</html>
