<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menuParams')%>
        <main>
            <%- include('./partials/genders')%>
            <center>
                <br><br>
            <h2>Estás editando: <%= product.title %></h2>
            <form action="/productEdit/<%= product.id %>" method="POST" class="form" enctype="multipart/form-data">
                 <h1>Modifica tu producto</h1>
                 <label for="name"><p>Introduce el nuevo nombre del producto</p></label>
                 <input type="text" name="name" id="name" value="<%= product.title %>">
                 <br>
                 <label for="description"><p>Introduce la nueva descripcion de producto</p></label>
                 <input type="description" id="description" name="description" value="<%= product.description %>">
                <br>
                <label for="gender"><p>introduce el genero</p></label>
                <select id="gender" name="gender">

                    <%if(genre){%>
                        <% for (let i = 0; i < genre.length; i++) { %>
                                <option name="<%=genre[i].name%>" value=<%=genre[i].id%>><%=genre[i].name%></option>           
                        <% } %>
                         <%}%>
                    
                </select>
                 <br>
                 <label for="categoria">Introduce la categoria</label>
                 <br>
                 <select id="category" name="category">
                    <%if(category){%>
                    <% for (let i = 0; i < category.length; i++) { %>
                        

                            <option name="<%=category[i].name%>" id="<%=category[i].name%>" value=<%=category[i].id%>><%=category[i].name%></option>
                       
                    <% } %>
                     <%}%>
                 </select>
                <br>
                <!-- <label for="format">Introduce el formato</label>
                 <br>
                 <select id="format" name="format">
                    <option name="TapaDura" id="TapaDura" value=2 >Tapa Dura</option>
                    <option name="TapaBlanda" id="TapaBlanda" value=3 >Tapa Blanda</option>
                    <option name="Digital" id="Digital" value=1 >Digital</option>
                 </select> -->
                <br>
                <label for="price"><p>Introduce el nuevo precio del producto</p></label>
                <input type="number" id="price" name="price" value="<%= product.price %>" minlength="1">
                
                
                 <br> 
                 <%if(locals.errors) {
                    errors.forEach(errors => {%>
                  <p class="arriba"><%=errors.msg%></p>
                  <% })
                    }
                  %>  
                  
                 <br>
                 <input type="submit" value="Continuar">
                 <br>   

                </form>
                <form action="/delete/<%= product.id %>" method="POST">
            <input class="form borrar" type="submit" value="Borrar">
        </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>
</html>
