<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menuParams')%>
    <%- include('./partials/genders')%>
    <main>
        <Div id="productDetails">
            <div  class="details">
                <div>
                    <img src="../images/products/<%=product.image%>" alt="<%=product.title%>" height="400px" width="300px" >
                </div>
                <div id="generalDetails">
                    <div id="nameDetails">
                        <h1><%=product.title%></h1>
                    </div>
                    <hr id="detailsLine">
                    <div id="priceDetails">
                        <h1>$<%=product.price%></h1>
                    </div>
                    <div id="format">
                        <button id="formatDetails">Tapa dura</button>
                        <button id="formatDetails">Tapa Blanda</button>
                        <button id="formatDetails">Digital</button>
                    </div>
                    <div id="payDetails">
                        <button id="payButton1">Añadir al Carrito</button>
                        <button id="payButton2">Comprar ahora</button>
                    </div>
                </div>
            </div>
            <div class="detailsMobile">
                    <div id="viewDetails">
                        <div id="nameDetails">
                            <h1><%=product.name%></h1>
                        </div>
                    </div>
                    <img src="../images/products/<%=product.image%>" alt="El camino de los Reyes" >
                        <hr id="detailsLineMobile">
                    <div id="generalDetails">
                            <select name="Formato" id="formatComboBox">
                                <option value="Tapadura" selected>Tapa Dura $49.04</option>
                                <option value="Tapablanda" >Tapa Blanda $24.99</option>
                                <option value="Digital">Digital 7.99</option>
                            </select>
                        <div id="payDetails">
                            <button id="payButton1">Añadir al Carrito</button>
                            <button id="payButton2">Comprar ahora</button>
                        </div>
                    </div>
                <hr id="detailsLineMobile">
            <div  id="sinopsisDetailsMobile">
                <p id="sinopsisName">Sinopsis</p>
                <div id=sinopsis>
                    <p id="sinopsis"><%=product.description%></p>
                </div>
            </div>
        </div>
        <div  id="sinopsisDetails">
                <p id="sinopsisName">Sinopsis</p>
                <div id=sinopsis>
                    <p id="sinopsis"><%=product.description%></p>
                </div>
            </div>
            <hr id="detailsLineMobileFinal">
        </Div>
    </main>
    <footer>
        <div class="footer-section">
            <section class="footer-seccion">
            <h4>Conocenos</h4>
            <li><a>¿Quienes somos?</a></li>
            <li><a>Conctatenos</a></li>
            <li><a href="/productCart">Carrito </a></li>
            </section>
            <section class="footer-seccion">
                <h4>Compra por genero</h4>
                <li><a>Ficcion</a></li>
                <li><a>Terror</a></li>
                <li><a>Novelas</a></li>
            </section>
             <section class="footer-seccion">
                    <h4>Te ayudamos</h4>
                    <li><a>Tu cuenta</a></li>
                    <li><a>Conctatenos</a></li>
                    <li><a>Envio y devoluciones</a></li>
            </section>
            <section class="footer-seccion">
                <img src="../images/E-Books_logo.png" alt="E-Books_logo" class="logo-footer">
             </section>
        </div>
        <section>
        <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>
        </section>
    </footer>
</body>
</html>