<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menu')%>
    <%- include('./partials/genders')%>

<center>
        <main>
            <div class="alert alert-danger" hidden id="errorsDiv"></div>

            <form action="/users" class="form" method="post" enctype="multipart/form-data" id="UserForm" >
                
                 <h1>Registrate</h1>
                 <label for="nombre"><p>Nombre</p></label>
                 <input type="text" name="nombre" id="nombre" placeholder="" data-label="Nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                 <br>
                 <label for="apellido"><p>Apellidos</p></label>
                 <input type="text" name="apellido" id="apellido" placeholder="" data-label="Apellido"value="<%=locals.old && old.apellido ? old.apellido : ''%>">
                 <br>
                 <label for="usuario"><p>Correo electronico</p></label>
                 <input type="text" id="usuario" name="usuario" data-label="Correo" value="<%=locals.old && old.usuario ? old.usuario: ''%>">
                 <br>
                <label for="image"><p>Introduce tu foto</p></label>
                <input type="file" id="image" name="image" data-label="Imagen" value="//<%=locals.old && old.image ? old.image: '' %>" >
                 <br>
                 <label for="password"><p>Contraseña</p></label>
                 <input type="password" id="password" name="password" data-label="Contraseña" placeholder="Minimo 6 caracteres" value="<%=locals.old && old.password ? old.password : '' %>">
                 <p id="arriba">¡La contraseña debe contener al menos 6 caracteres!</p>

                 <label for="verificarcontraseña"><p >Vuelve a repetir la contraseña</p></label>
                 <input type="password" name="verificaPassword" id="verifiquedpassword" data-label="Repetir Contraseña"value="<%=locals.old && old.verificaPassword ? old.verificaPassword : '' %>" >
                 <br>
                    <%if(locals.errors) 
                    {
                        errors.forEach(errors => {%>
                    <p class="arriba"><%=errors.msg%></p>
                    <% })
                    }
                    %>
                    <div class="alert alert-danger" hidden id="errorsDiv"></div>

                 <br>
                 
                 <input type="submit" value="Continuar">
                 <br>
                 <p>Al crear una cuenta, aceptas las <u><a href="">Condiciones de uso</a></u> y el <u><a href="">Aviso de privacidad</a></u> de E-Books.</p>
                 <br>
                 <a href="/login"><u>¿Ya tienes una cuenta? </u></a>
                 
                 
                </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>

<script src="/js/formValidator.js"></script>
</html>
