<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menu')%>
    <main>
        <%- include('./partials/genders')%>
        <div>
            <section class="banner">
                <img src="images/banner.jpg" alt="Banner de E-Books">
            </section>
        </div>
        
        <section class="seccion">

                <h4 class="titulo-seccion">Resultado de la busqueda:</h4>

            <div  class="novedades">          
                <% for (let i = 0; i < finalProducts.length; i++) { %>
                        <article>
                            <img src="images/products/<%=finalProducts[i].image%>" alt="<%=finalProducts[i].image%>" class="img_producto">                            <div>
                                <h5 class="descripcion"><a href="/productDetail/<%=finalProducts[i].id%>" class="detalles"><%=finalProducts[i].name%></a></h5>
                            </div>
                        </article>
                        <% } %>
                        <br>
                        <br>            
            </div>
            
        </section>
      
    </main>
    <%- include('./partials/footer')%>
</body>
</html>